.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  background: url(../backgrounds/photo2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: 800;
}

.container-fluid .row {
  background-color: white;
  border-radius: 10px;
}

label[for='id'] {
  display: none;
}

label[for='id']+div {
  display: none;
}

.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}

/* */
.hidden {
  visibility: hidden !important;
}

/* tv tools button widths */
.tv-tools .btn {
  width: 5em;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

table a,
.table a {
  text-decoration: none !important;
}

#children-tabs li a {
  display: block !important;
}